/* http://www.color-hex.com/color-palette/62778 */

@import url('https://fonts.googleapis.com/css?family=Cousine');
/*DIGITAL CLOCK FONT*/
@font-face{
 font-family:'digital-7';
 src: url('../fonts/digital-7.ttf');
}



@-webkit-keyframes BackgroundColour {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BackgroundColour {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes BackgroundColour {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}




* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: white;
}
/*
body {
	background:#ff7b7b;
	//old color
}
*/

.bordered{
	border:solid 3px #ffffff;
	padding:8px;
}

div.title{
	font-size: 15px;
	font-weight: bold;
	font-family: sans-serif;
	padding-bottom:8px;
	text-align:center;
}

body{
	color: #ffffff;
	background: linear-gradient(270deg, #5a168e, #ef6bdc);
	background-size: 400% 400%;
	font-family: 'Cousine', monospace;
	/*-webkit-animation: BackgroundColour 30s ease infinite;
	-moz-animation: BackgroundColour 30s ease infinite;
	animation: BackgroundColour 30s ease infinite;
	*/
}

#grad{
	background: linear-gradient(270deg, #5a168e, #ef6bdc);
	z-index:-1;
}



/* /Bus Piece/ */
div.busnorthbox {
	text-align: center;
    position: absolute;
    top: 20px;
    left: 15px;
    transform: translate(-1%,-1%);
    padding: 8px;

}

div.bussouthbox {
	text-align: center;
    position: absolute;
    top: 20px;
    left: 250px;
    transform: translate(-1%,-1%);
    padding: 8px;
}

p.tittle {
	font-size: 15px;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
	font-style: italic;
}

p.otherTimes{
	font-size:11px;
	padding:5px;
	font-family: 'Cousine', monospace;
}

p.NextBusNum{
	font-size:26px;


}
p.NextBusMins{
	padding-left:3px;
}

/*	Live Music	*/
/* https://codepen.io/jonathansampson/pen/rqemL?editors=0100
	Vertical marquee taken from here */

#LiveMusic{
	position:absolute;
	top:140px;
	left:610px;
	font-size:12px;
}

.musicContainer{
/*
    width: 18em;
    height: 8em;
    margin: 1em auto;
    overflow: hidden;
	position:absolute;
*/
}

.marquee {
	top: 6em;
	position: relative;
	box-sizing: border-box;
	animation: marquee 15s linear infinite;
}

.marquee:hover {
	animation-play-state: paused;
}

/* Make it move! */
@keyframes marquee {
	0%   { top:   8em }
	100% { top: -22em }
}

div.MusicDate{
	font-size:15px;
}


/* /Dad Joke Piece/ */
div.dadjoke {
	text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;
    transform: translate(-1%,-1%);
    padding: 15px;
	max-height: 150px;
	max-width: 700px;
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
}

p.subreddit{
	font-size:12px;
}

p.jokeauthor{
	padding-top:5px;
	font-size:10px;
	text-align:right;
}


/* Torrents Piece/ */
div.torrents {
	text-align: right;
    position: absolute;
    top: 170px;
    right: 20px;
	max-width:30%;
	max-height:420px;
    transform: translate(-1%,-1%);
    padding: 3px;
}

div.torrents {
	font-family: 'Cousine', monospace;
	font-size: 12px;
	font-weight: bold;

}

.torrent_name {
	display:inline;
	padding:5px;
	color: white !important;
	text-decoration: none;
}


/* /News Piece/ */
#news {
	text-align: left;
    position: absolute;
    top: 140px;
    left: 20px;
	max-width:570px;
	max-height:420px;
    transform: translate(-1%,-1%);
	font-family: 'Cousine', monospace;
	font-size: 12px;
	font-weight: bold;
}


/* /Rubbish Collection Piece/ */
#collection{
	position:absolute;
	bottom:20px;
	left: 610px;
	text-align: center;
	//padding: 8px;
	line-height: 2.5;
	height: 130px;
	width:140px;
	font-size:12px;
}

.green-week{
	background-color: #88B04B;
}

.blue-week{
	background-color: #92B6D5;
}

p.prompt{
	background-color: #ff6961 ;
}


/* /Local IP Piece/ */
#localIP{
	color:#ffffff !important;
	position: absolute;
	bottom: 6px;
	left: 46%;
	font-size: 12px;
}


/* /Weather Piece/ */
div.weatherpane {
  position: absolute;
  bottom: 20px;
  left: 20px;
  transform: translate(-1%,-1%);
	width:570px;
	height: 130px;
	text-align:center;
}

#weather {
	display:inline-block;

	font-size: 10px;
	font-weight: bold;
	font-family: sans-serif;
	text-align:center;
	text-transform: uppercase;
	padding-top: 15px;
}

div.weatherbox{
	float:left;
	padding-right: 3px;
	padding-left: 5px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 8px;
}

p.temp{
	font-size:30px;
}



/* /Date and clock piece/ */
div.dateAndClock {
	font-family: 'digital-7', sans-serif;
	text-align: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transform: translate(-1%,-1%);

	height: 130px;
}

.light-on {  /*Changes color of text to appear like its "on"*/
	color: #ffffff !important;
}

/* Days of the week */
div.days {
	margin: 0 auto;
	color: rgba(255, 255, 255, 0.2);
}

div.days .day {
	display: inline-block;
}
#date{
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
}

div.days .day p {
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
}

#weekNum{
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
}

/* Clock */

div.clock div{
	display: inline-block;
	position: relative;
}

div.clock div p{
	font-size: 100px;
	position: relative;
	z-index: 100;
}

div.clock .placeholder {
	color: rgba(255, 255, 255, 0.2);
	position: absolute;
	top: 0;
	z-index: 50;
}

/* AM or PM*/
.meridian {
	font-family: sans-serif;
	text-transform: uppercase;
	width: 20px;
}

div.meridian div p {
	font-size: 12px;
	font-weight: bold;
	width: 100%;
}

.am, .pm {
	color: rgba(255, 255, 255, 0.2);
}

/* Sunrise, sunset time piece*/
#sunriseTime{
	font-family: 'Cousine', monospace;
	font-size: 12px;
}
