/* http://www.color-hex.com/color-palette/62778 */

@import url('https://fonts.googleapis.com/css?family=Cousine');
/*DIGITAL CLOCK FONT*/
@font-face{
 font-family:'digital-7';
 src: url('../fonts/digital-7.ttf');
}



@-webkit-keyframes BackgroundColour {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BackgroundColour {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes BackgroundColour { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

	


* {
	margin: 0;
	padding: 0;
}


/*
body {

	background:#ff7b7b;
	//old color
}
*/

.bordered{
	border:solid 3px #ffffff;
}

body{
	color: #ffffff;
	background: linear-gradient(270deg, #5a168e, #ef6bdc);
	background-size: 400% 400%;
	font-family: 'Cousine', monospace;
	-webkit-animation: BackgroundColour 30s ease infinite;
	-moz-animation: BackgroundColour 30s ease infinite;
	animation: BackgroundColour 30s ease infinite; 
	
}

#grad{
	
	background: linear-gradient(270deg, #5a168e, #ef6bdc);
	z-index:-1;
}



/* /Bus Piece/ */
div.busnorthbox {
	text-align: center;
    position: absolute;
    top: 20px;
    left: 15px;
    transform: translate(-1%,-1%); 
    padding: 8px;
 
}

div.bussouthbox {
	text-align: center;
    position: absolute;
    top: 20px;
    left: 250px;
    transform: translate(-1%,-1%); 
    padding: 8px;
    border: solid 5px #ffffff;
}

p.tittle {
	font-size: 15px;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
	font-style: italic;
}

div.businfo{
	font-family: 'digital-7', sans-serif;
	display:inline-block;
	padding:5px;
	vertical-align:top;
}

div.busname{
	font-family: sans-serif;
	
}


/* /Dad Joke Piece/ */
div.dadjoke {
	text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;
    transform: translate(-1%,-1%); 
    padding: 15px;
    border: solid 5px #ffffff;
	max-height:150px;
}

div.dadjoke {
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
}

p.subreddit{
	font-size:12px;
}

p.jokeauthor{
	padding-top:5px;
	font-size:10px;
	text-align:right;
}


/* Torrents Piece/ */
div.torrents {
	text-align: right;
    position: absolute;
    top: 140px;
    right: 20px;
	max-width:30%;
	max-height:420px;
    transform: translate(-1%,-1%); 
    padding: 3px;
    border: solid 5px #ffffff;
}

div.torrents {
	font-family: 'Cousine', monospace;
	font-size: 12px;
	font-weight: bold;
	
}


/* /News Piece/ */
#news {
	text-align: left;
    position: absolute;
    top: 140px;
    left: 20px;
	max-width:600px;
	max-height:420px;
    transform: translate(-1%,-1%); 
    padding: 5px;
    border: solid 5px #ffffff;
	font-family: 'Cousine', monospace;
	font-size: 12px;
	font-weight: bold;
}


/* /Rubbish Collection Piece/ */
#collections{
	position:absolute;
	bottom:50px;
	left:50%;
	text-align: center;
	border: solid 5px #ffffff;
}


#localIP{
	position: absolute;
	bottom:8px;
	left:46%;
	
}


/* /Weather Piece/ */
div.weatherpane {
    position: absolute;
    bottom: 20px;
    left: 20px;
    transform: translate(-1%,-1%); 
    padding: 8px;
    border: solid 5px #ffffff;
	width:500px;
}

div.weathertitle{
	font-size: 15px;
	font-weight: bold;
	font-family: sans-serif;
	padding-bottom:8px;
	text-align:center;
}

div.weather {
	
	margin: 0 auto;
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
	text-align:center;
	text-transform: uppercase;
}

div.weatherbox{
	border: solid 3px #ffffff;
	float:left;
	height:100px;
	padding-right: 3px;
	padding-left: 5px;
	margin-left: 10px;
	margin-right: 10px;
	
}

p.temp{
	font-size:40px;
}


/* /Date and clock piece/ */
div.dateAndClock {
	font-family: 'digital-7', sans-serif;
	text-align: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    transform: translate(-1%,-1%); 
    padding: 8px;
    border: solid 5px #ffffff;
}

.light-on {  /*Changes color of text to appear like its "on"*/
	color: #ffffff;
}

/* Days of the week */
div.days {
	margin: 0 auto;
	color: rgba(255, 255, 255, 0.2);
}

div.days .day {
	display: inline-block;
}

div.days .day p {
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
}

/* Clock */

div.clock div{
	display: inline-block;
	position: relative;
}

div.clock div p{
	font-size: 100px;
	position: relative;
	z-index: 100;
}

div.clock .placeholder {
	color: rgba(255, 255, 255, 0.2);
	position: absolute;
	top: 0;
	z-index: 50;
}

/* AM or PM*/
.meridian {
	font-family: sans-serif;
	text-transform: uppercase;
	width: 20px;
}

div.meridian div p {
	font-size: 12px;
	font-weight: bold;
	width: 100%;
}

.am, .pm {
	color: #ff9595;
}

/* Sunrise, sunset time piece*/
#sunriseTime{
	font-family: 'Cousine', monospace;
	font-size: 12px;
}