/* http://www.color-hex.com/color-palette/62778 */


/*DIGITAL CLOCK FONT*/
@font-face{
 font-family:'digital-7';
 src: url('../fonts/digital-7.ttf');
}

* {
	margin: 0;
	padding: 0;
}

body {
	color: #ffffff;
	background-color: #ff7b7b;
	font-family: 'digital-7', sans-serif;
}

div.bus {
}

div.news {
}

div.weather {
}


/* Date and clock piece */
div.dateAndClock {
	text-align: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    /*transform: translate(-50%,-50%); */
    padding: 15px;
    border: solid 5px #ffffff;
}


/* Days of the week */
div.days {
	margin: 0 auto;
	color: #ff9595;
}

div.days .day {
	display: inline-block;
}

div.days .day p {
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
}


/* CLOCK */
div.clock {
	margin: 5px 0;
}

div.clock div{
	display: inline-block;
	position: relative;
}

div.clock div p{
	font-size: 100px;
	position: relative;
	z-index: 100;
}

div.clock .placeholder {
	color: #ff9595;
	position: absolute;
	top: 0;
	z-index: 50;
}/*END CLOCK*/


/* AM OR PM*/
.meridian {
	font-family: sans-serif;
	text-transform: uppercase;
	width: 20px;
}

div.meridian div p {
	font-size: 12px;
	font-weight: bold;
	width: 100%;
}

.am, .pm {
	color: #ff9595;
}

/*CLASS THAT CHANGES COLOR OF TEXT TO APPEAR LIKE ITS "ON"*/
.light-on {
	color: #ffffff;
}