/* http://www.color-hex.com/color-palette/62778 */


/*DIGITAL CLOCK FONT*/
@font-face{
 font-family:'digital-7';
 src: url('../fonts/digital-7.ttf');
}

* {
	margin: 0;
	padding: 0;
}

body {
	color: #ffffff;
	background-color: #ff7b7b;
	font-family: 'digital-7', sans-serif;
}



/* /Bus Piece/ */
div.bus {
	text-align: center;
    position: absolute;
    top: 20px;
    left: 20px;
    transform: translate(-1%,-1%); 
    padding: 15px;
    border: solid 5px #ffffff;
}

div.bus p.tittle {
	font-size: 15px;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
	font-style: italic;
}

table.busTimes {
	font-size: 20px;
	border-width: 5px;
	overflow: hidden;
	word-break: break-all;
}

tr.heading{
	font-weight: bold;
}

tr.bus{
	font-weight: normal;
}

td.bus{
	font-family: sans-serif;
}

td {
	padding: 7px;
}



/* /News Piece/ */
div.news {
	text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;
    transform: translate(-1%,-1%); 
    padding: 15px;
    border: solid 5px #ffffff;
}

div.news {
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
}



/* /Weather Piece/ */
div.weather {
	text-align: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    transform: translate(-1%,-1%); 
    padding: 15px;
    border: solid 5px #ffffff;
	width:500px;
}

div.weather {
	content-align:center;
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
}

div.weatherbox{
	border: solid 5px #ffffff;
	float:left;
	height:100px;
	padding: 3px;
	margin-left:10px;
	margin-right:10px;
	
}

p.temp{
	font-size:40px;
	
}

/* /Date and clock piece/ */
div.dateAndClock {
	text-align: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    transform: translate(-1%,-1%); 
    padding: 15px;
    border: solid 5px #ffffff;
}


/* Days of the week */
div.days {
	margin: 0 auto;
	color: #ff9595;
}

div.days .day {
	display: inline-block;
}

div.days .day p {
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
}


/* Clock */
div.clock {
	margin: 5px 0;
}

div.clock div{
	display: inline-block;
	position: relative;
}

div.clock div p{
	font-size: 100px;
	position: relative;
	z-index: 100;
}

div.clock .placeholder {
	color: #ff9595;
	position: absolute;
	top: 0;
	z-index: 50;
}

/* AM or PM*/
.meridian {
	font-family: sans-serif;
	text-transform: uppercase;
	width: 20px;
}

div.meridian div p {
	font-size: 12px;
	font-weight: bold;
	width: 100%;
}

.am, .pm {
	color: #ff9595;
}

/*Changes color of text to appear like its "on"*/
.light-on {
	color: #ffffff;
}

p.subreddit{
	font-size:12px;
}


p.jokeauthor{
	padding-top:5px;
	font-size:10px;
	text-align:right;
}